SCO.spec
SCO.exe
venv/*
*__pycache__*
build
dist
_testing.py
_testing.ipynb
cache_replay_analysis.txt
cache_overall_stats
cache_player_winrates.json
*.ui
*.qrc
.vscode
Settings.json
Logs.txt
ChatLog.txt
Updates/*
Test/*
install.bat
.DS_Store
SC2CoopOverlay (x.x).zip
src/bot
*custom.js
*custom.css
replay_data_dump.json
_vsc.bat
debug.py
SCO/*
SCO.build/*
SCO.dist/*