<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="custom.css">
</head>

<body>
    <div id="bgdiv"><div></div></div>
    <div id="stats">
        <div id="topstats">
            <div id="nodata">NO DATA</div>
            <span id="name1"></span>
            <div id="result"></div>
            <span id="name2"></span>
            <div id="killbar">
                <div id="killbar1">
                    <img id="killbar1img">
                    <span id="percent1"></span>
                </div>
                <div id="killbar2">
                    <img id="killbar2img">
                    <span id="percent2"></span>
                </div>
                <div id="kills">kills</div>
            </div>
            <div id="morestats">
                <span id="com1"></span>
                <span id="com2"></span>
                <div id="map"></div>
                <span id="apm1"></span>
                <span id="apm2"></span>
                <div id="brutal"></div>
            </div>
        </div>
        <div class="commstats" id="commstats1">
            <div id="CMname1"></div>
            <div id="CMicons1" class="icons"></div>
            <div id="CMtalent1" class="prestige"></div>
            <div id="CMmastery1" class="mastery"></div>
            <div id="CMunits1" class="units"></div>
        </div>
        <div class="commstats" id="commstats2">
            <div id="CMname2"></div>
            <div id="CMicons2" class="icons"></div>
            <div id="CMtalent2" class="prestige"></div>
            <div id="CMmastery2" class="mastery"></div>
            <div id="CMunits2" class="units"></div>
        </div>
        <div class="commstats" id="amon">
            <div id="CMname3"></div>
            <div id="comp"></div>
            <div id="CMunits3" class="units"></div>
        </div>
    </div>
    <div id="otherstats">
        <div id="session"></div>
        <div id="loader"></div>
    </div>
    <div id="mutatorinfo">
        <div id="mut0"><img src="">
            <p></p>
        </div>
        <div id="mut1"><img src="">
            <p></p>
        </div>
        <div id="mut2"><img src="">
            <p></p>
        </div>
        <div id="mut3"><img src="">
            <p></p>
        </div>
        <div id="mut4"><img src="">
            <p></p>
        </div>
        <div id="mut5"><img src="">
            <p></p>
        </div>
        <div id="mut6"><img src="">
            <p></p>
        </div>
        <div id="mut7"><img src="">
            <p></p>
        </div>
        <div id="mut8"><img src="">
            <p></p>
        </div>
        <div id="mut9"><img src="">
            <p></p>
        </div>
        <div id="mut10"><img src="">
            <p></p>
        </div>
        <div id="mut11"><img src="">
            <p></p>
        </div>
        <div id="mut12"><img src="">
            <p></p>
        </div>
    </div> 
    <div id="notification"><div>M</div><div>StarCraft II Co-op overlay is running</div></div>
    <div id="otherinfo"></div>
    <div id="playerstats"></div>
    
</body>
<script src="main.js"></script>
<script src="custom.js"></script>

</html>